// === COLORS ===
// This file contains all the color info for the main file

// Nutral Colors ========================================
$grey-100: #222222;
$grey-200: #222222;
$grey-300: #222222;
$grey-400: #222222;
$grey-500: #222222;
$grey-600: #222222;
$grey-700: #222222;
$grey-800: #222222;
$grey-900: #222222;

$warning-100: #222222;
$warning-200: #222222;
$warning-300: #222222;
$warning-400: #222222;
$warning-500: #222222;
$warning-600: #222222;
$warning-700: #222222;
$warning-800: #222222;
$warning-900: #222222;

$danger-100: #222222;
$danger-200: #222222;
$danger-300: #222222;
$danger-400: #222222;
$danger-500: #222222;
$danger-600: #222222;
$danger-700: #222222;
$danger-800: #222222;
$danger-900: #222222;

$success-100: #222222;
$success-200: #222222;
$success-300: #222222;
$success-400: #222222;
$success-500: #222222;
$success-600: #222222;
$success-700: #222222;
$success-800: #222222;
$success-900: #222222;

$notification-100: #222222;
$notification-200: #222222;
$notification-300: #222222;
$notification-400: #222222;
$notification-500: #222222;
$notification-600: #222222;
$notification-700: #222222;
$notification-800: #222222;
$notification-900: #222222;


// Theme colors =========================================
$base: #222222;           // used for the main base color
$primary: #ff8040;        // primary color profile
$secondary: #ffffff;      // accent color profile
$ternary: #222222;        // subtle color profile
$highlight: #aeeef7;      // extra highlight color profile
$outline: #ffffff;

// Text Colors ==========================================
$main-text: #ebebeb;
$secondary-text: #ffffff;
$ternary-text: #ffffff;

// Extra Colors =========================================
$link: #ff8040;
$menu-item: #ffffff;

// Color Variants =======================================